
{{!-- Iterate Over all the articles --}}
{{#each articles}}
  <ul class="collapsible" data-collapsible="accordion">

    <!-- Article Drop Down -->
    <li>
      <div class="collapsible-header cyan lighten-4">
        <i class="material-icons">description</i>  <b>{{updated}}</b>
        <div style="clear: left; line-height: 110%; padding-bottom: 10px;"><b>{{title}}</b></div>
      </div>
      <div class="collapsible-body" style="background-color: white;">
        <p>
          {{summary}}

          <br><br>

          <i>You can read the full <a href="{{link}}" target="_new">article</a> here.</i>
        </p>
          
      </div>
    </li>


    <!-- Add Comments Drop Down -->
    <li>
      <div class="collapsible-header"><i class="material-icons">chat_bubble_outline</i>Add a Comment</div>
      <div class="collapsible-body">

        <form id="form-add-{{_id}}" action="add/comment/{{_id}}" method="post">

          <!-- Author Name Input -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <i class="material-icons prefix">account_circle</i>
              <input id="author_name" name="name" type="text" class="validate">
              <label for="author_name">Type Your Name:</label>
            </div>
          </div>
          
          <!-- Comment Input -->
          <div class="row">
            <div class="input-field col s2"></div>
            <div class="input-field col s8">
              <i class="material-icons prefix">chat_bubble_outline</i>
              <textarea id="comment_box" name="comment" class="materialize-textarea"></textarea>
              <label for="comment_box">Add Comment:</label>
            </div>
          </div>

            <!-- Submit Button -->
            <div class="row">
              <div class="input-field col s2"></div>
              <div class="input-field col s8">
              <center><input class="btn addComment" data-id="{{_id}}" type="submit" value="Submit"></center>
              </div>
            </div>
          
        </form>

      </div>
    </li>


    <!-- View Comments Drop Down -->
    <li>
      <div class="collapsible-header"><i class="material-icons">speaker_notes</i>View Comments</div>
      <div class="collapsible-body">
      
        {{!-- Check if the article has comments --}}
        {{#if comments}}

          {{!-- If Article has comments iterate over them  --}}
          <ul class="collection">
            {{#each comments}}
            
              <li class="collection-item">
                {{!-- Add Author Name --}}
                <div class="input-field col s3">
                  <b>{{author}}</b>
                </div>
                <div class="input-field col s5">
                  {{!-- Add the Content of the Comment --}}
                  {{content}}
                </div>
                <div class="input-field col s2">
                  {{!-- Add a Delete Button --}}
                  <span class="badge">
                    <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
                      <input class="btn-small deleteComment" data-id="{{_id}}" type="submit" value="Delete" style="">
                    </form>
                  </span>
                </div>
                

              </li> 
            {{/each}}
          </ul>
        
        {{!-- No comments, so display message --}}
        {{else}}
          <p>No comments yet</p>
        {{/if}}
            
        
      </div>
    </li>

  </ul>
{{/each}}